@import "tailwindcss";

@layer components {
  .footer_link {
    @apply text-white font-medium cursor-pointer text-sm hover:text-yellow-300 w-fit;
  }
}

@custom-variant dark (&:where(.dark, .dark *));
